body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#productList {
    margin-top: 20px;
}

.product {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}
